
*.csv
IBM Data Science Professional Certificate/IBM Data Science Professional/config.py
.DS_Store
BCG - Data Science & Advanced Analytics/Task 2/.DS_Store
BCG - Data Science & Advanced Analytics/.DS_Store
