jupyter-book
ghp-import
pandas
numpy
matplotlib
seaborn
missingno
scipy
wordcloud
sklearn
scikit-learn
tensorflow
tensorflow-datasets
lightgbm
xgboost
verstack
geopy
folium
sodapy
pyproj
bs4
#git+https://github.com/QuantEcon/quantecon-book-theme.git